/* Your existing styles */

.login-container {
  margin-left: 382px;
  max-width: 400px;
  padding: 20px;
  background-color:  hsl(176, 65%, 86%);
  border-radius: 10px;
  margin-top: 63px;
}
.form-group input[type="text"],
.form-group input[type="password"]{
  width: 100%; /* 100% of the available space within the form-group */
  /* OR */
  width: 90%; /* Fixed width in pixels */
}
h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
img{
  height: 10rem;
}
button {
  width: 40% !important;
  height: 3rem;
  padding: 10px;
  background-color: #00b7ac;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 auto !important; 
}
.logo {
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.logo img {
  max-width: 100%;
  height: 10rem;
  padding: 0 7.5rem;
  border-radius: 50%;
}

button:hover {
  background-color: #0056b3;
}

.signup {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.forgot-password-button {
  width: 100%;
  padding: 0 0 0 10px;
  background-color: transparent;
  color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  margin-top: 1rem;
}

.forgot-password-button:hover {
  background-color: transparent; /* Change background color on hover */
}

.button-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
