.container-fluid {
  display: flex;
  flex-wrap: wrap;
}


.patient-dashboard-sidebar {
  list-style: none; 
    width: 20%;
    /* Sidebar background color */
    background-color: #f5f5f5;
    height: calc(100vh - 120px); /* Subtract the height of the navbar */
    position: sticky; /* Make the sidebar fixed */
    top: 120px; /* Position the sidebar below the navbar */
    overflow-y: auto; /* Enable vertical scrolling if content exceeds the height */
    align-items: center;
    justify-content: center;
}

.patient-dashboard-content {
  max-width:80%;
  width: 80%;
  background-color: #ffffff; /* Content background color */
}

.tab-buttons {
  cursor: pointer;
    width: 80% !important;
    background-color: #00b7ac;
    padding: 2px 2px;
    margin-top: 30px!important;
    margin-left: 1px!important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}




.tab-button button {
  margin: 10px 25px;
  padding: 10px;
  width: 200px;
  cursor: pointer;
  background-color: #00b7ac;
  color: white;
  border: none;
}

button:hover {
  background-color: #0056b3;
}

.active {
  background-color:#0056b3;
}


.tile {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.consultancy-details {
  display: flex;
  flex-direction: column;
}

.attribute-tile {
  display: flex;
  border-bottom: 1px solid #ccc; /* Add border to separate attribute and value tiles */
  overflow-x: auto; /* Enable horizontal scrolling if attributes exceed the width */
}

.value-tile {
  display: flex;
 
}

.attribute-name {
  flex: 0 0 25%; /* Each attribute takes up 25% of the width */
  font-weight: bold;
  text-align: left;
  padding: 5px;
  white-space: nowrap; /* Prevent attribute names from wrapping */
  overflow: hidden; /* Hide any overflow */
  text-overflow: ellipsis; /* Show ellipsis for overflowed text */
}

.value-tile > div {
  flex: 0 0 25%; /* Each value takes up 25% of the width */
  padding: 5px;
  color: black;
}

.value-tile {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  text-align: left;
  width: calc(100% - 22px);
}

.value-tile:hover {
  background-color: #f0f0f0;
}
.active {
  background-color: #006861;
}

.form-container {
  margin-left: 382px;
  max-width: 400px;
  padding: 20px;
  background-color:  hsl(176, 65%, 86%);
  border-radius: 10px;
  margin-top: 63px;
}

.form-group {
  margin-bottom: 15px;
  flex-grow: 1; /* Allow the form group to grow to fill available space */
}

.checkbox-group {
  display: flex;
  align-items: center; /* Align items vertically */
  margin-bottom: 0; /* Remove bottom margin */
}

.checkbox-group label {
  margin-left: 10px; /* Add left margin to separate checkbox and label */
}

.success-message-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 120px); /* Adjust the height as needed */
}

.success-message {
  text-align: center;
}

@media screen and (max-width: 768px){
  .patient-dashboard-sidebar{
    display: none;
  }
}



/*
 @media screen and (min-width: 1200x) {
  
  .doctor-dashboard-content {
    width: 80%;
    max-width: none; 
  margin-left: 0;
  }
  .tab-button {
      margin-top: 30px;
      width:80%;  
    }
  

    .form-container {
      max-width: 400px;
      margin: 0 auto;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 8px;
      background-color: #f9f9f9;
    }
    
    .form-group {
      margin-bottom: 15px;
    }
    
    label {
      display: block;
      margin-bottom: 5px;
    }
    
    input[type="text"] {
      width: 100%;
      padding: 8px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
    
    button[type="submit"] {
      background-color: #00b7ac;
      color: white;
      padding: 10px 20px;
      border: none; 
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;
    }
    
    button[type="submit"]:hover {
      background-color: #0056b3;
    }
    
    .success-message {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
      font-size: 24px;
      color: green;
    }  
      
}      */



label {
  display: inline;
  margin-bottom: 5px;
}

input {
  width: 95%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
.yes-button {
  background-color: green;
  width:20%!important;
  color: white;
  border: 1px solid green;
  padding: 8px 16px;
  margin-right: 10px;
  cursor: pointer;
}

.yes-button:hover {
  background-color: darkgreen;
  border-color: darkgreen;
}

.no-button {
  background-color: red;
  width:20%!important;
  margin-left: 5px!important;
  color: white;
  border: 1px solid red;
  padding: 8px 16px;
  cursor: pointer;
}

.no-button:hover {
  background-color: darkred;
  border-color: darkred;
}