.navbar {
  display: flex;
  position :fixed;
  justify-content: space-between;
  align-items: center;
  background-color: #00b7ac;
  color: black;
  font-family: "Roboto", sans-serif;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 10px 10px;
}

.navbar__left {
  display: flex;
  align-items: center;
}

.navbar__logo {
  width: 100px; /* Adjust width and height as needed */
  height: 100px; /* Adjust width and height as needed */
  border-radius: 50%; /* Creates a circle */
  object-fit: cover;
  
}

.navbar__title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: xx-large;
}

.navbar__right {
  display: flex;
  align-items: center;
}

.navbar__user {
  position: relative; /* Required for positioning the dropdown */
  cursor: pointer;
}

.navbar__username {
  margin-right: 10px;
}

.navbar__user-icon {
  font-size: 50px;
}

.navbar__dropdown {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: #fff;
  border: 1px solid #49b84d;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgb(201 20 20 / 10%);
  display: flex;
  flex-direction: column;
  padding: 12px;
}

.navbar__user:hover .navbar__dropdown {
  display: block; /* Show the dropdown on hover */
}

.navbar__dropdown ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar__dropdown li {
  padding: 10px;
  cursor: pointer;
}

.navbar__dropdown li:hover {
  background-color: #f0f0f0;
}

/* .navbar__dropdown {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 10px;
} */

.navbar__dropdown ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar__dropdown li {
  cursor: pointer;
  padding: 9px 6px;
}

.navbar__dropdown li:hover {
  background-color: #f0f0f0;
}

.navbar__logo {
  transition: transform 0.3s ease; /* Adding transition for smooth effect */
}

.navbar__logo:hover {
  transform: scale(1.2); /* Increase the size on hover */
}

.navbar__user-icon{
  transition: transform 0.3s ease; /* Adding transition for smooth effect */
}

.navbar__user-icon:hover {
  transform: scale(1.2); /* Increase the size on hover */
}

@media screen and (min-width: 768px){
  .iconphone{
    display: none;
  }

  .insidenavbar{
    display: none;
  }
  
}

@media screen and (max-width: 768px){
  .outsidenavbar{
    display: none;
  }
}

