.patientContainer {
    height: 640px;
    display: flex;
}

.patient-profilepic-Column,
.patient-details-Column {
    display: flex;
    align-items: center;
}

.patient-profilepic-Column {
    text-align: center;
    align-items: center;
    background-color: #EAFDFB;
    flex: 40; /* This makes it one third of the width */
}

.patientProfilePhoto {
    width: 300px; /* Adjust the width as needed */
    height: 300px; /* Adjust the height as needed */
    border-radius: 50%; /* Make it round */
}

.patient-details-Column {
    padding-left: 350px;
    background-color: blanchedalmond;
    align-items: center !important;
    flex: 60; /* This makes it two thirds of the width */
}

.patientProfileEditButton {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.patient-image-Button {
    width: auto !important;
    background-color: blue;
    color: white;
}

.patient-Profile-EditButton {
    background-color: green;
    color: white;
}

/* PatientProfile.css */

.modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.modal-buttons button {
    padding: 8px 11px; /* Adjust the padding to decrease the button size */
    font-size: 12px; /* Adjust the font-size to decrease the button size */
}
