/* App.css */

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #f5f5f5;
  overflow-y: auto; /* Allow vertical scrolling for the entire page */
}






main {
  display: flex;
  flex: 1;
  padding-top: 0px; /* Adjusted padding-top to provide space for fixed header */
  padding-bottom: 0px; /* Adjusted padding-bottom to provide space for fixed footer */
}
.scrollable-main {
  flex: 1; /* Make the main content area take up remaining space */
  overflow-y: auto; /* Add vertical scrolling for content overflow */
}

.sidebard {
  list-style: none; 
  width: 20%;
  /* Sidebar background color */
  background-color:  #f5f5f5;
 
  
  position: sticky; /* Make the sidebar fixed */
  /* Position the sidebar below the navbar */
  overflow-y: auto; /* Enable vertical scrolling if content exceeds the height */
  display: flex;
  height: calc(100vh - 120px);
  border-right: 5px solid #ddd;
 
}
.sidebar2d {
  width: 20%;
  background-color: #f5f5f5;
  border-left: 4px solid #ccc;
  
  overflow-y: auto; /* Allow vertical scrolling for sidebar2 */
  height: calc(100vh - 120px)
}

.sidebar1 button {
  margin-bottom: 10px; /* Add space between buttons */
}

.tab-buttonsd {
  width: 300px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap:2;
  align-items: center;
  
  

}

.tab-buttonsd button {
  width: 80%!important;
  padding: 2px 2px;
  margin-top: 30px!important;
  margin-left: 30px!important;
  display: flex;
  flex-direction: column;
  background-color: #00b7ac;
  align-items: center;
  justify-content: center;
}

.tab-buttonsd button:hover {
  background-color: #0d8aea; /* Darker shade of blue on hover */
}
.tab-buttonsd button.active {
  background-color: #006861;
}

.content1 {
  display:flex;
 align-items: end;
  position: relative; /* Ensure relative positioning for absolutely positioned elements */
  height: calc(100vh - 120px)
}





.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container img {
  width: 100px; /* Fixed width for images */
  height: 100px; /* Fixed height for images */
  margin-bottom: 10px;
   
}



.message-history {
  flex: 1;
  overflow-y: auto; /* Allow vertical scrolling for message history */
}

.message {
  margin-bottom: 10px;
  padding: 5px;
  background-color: #f0f0f0;
}

textarea {
  resize: none;
  padding: 10px;
  
  width: 1000px;
}



.image-overlay-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image-overlay {
  position: relative;
}

.overlay-content {
  margin-bottom: 20px;
}

.overlay-image {
  width: 500px; /* Set the width of the image */
  height: 400px; /* Set the height of the image */
}

.overlay-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.close-btn:hover{
  color: rgb(209, 18, 18);
  transform: scale(1.1);
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
  

}
.annotations {
  margin-top: 20px; /* Adjust margin as needed */
  background-color: #f9f9f9; /* Background color for annotations */
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}


.tab-buttons2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tab-buttons2 button {
margin-bottom: 10px; /* Add space between buttons */
display: flex;
justify-content: center;
align-items: center;
width: 200px; /* Set the width of the button */
height: 200px; /* Set the height of the button */
background-color: transparent; /* Set treyhe background color to transparent */
border: none; /* Remove border */
padding: 0; /* Remove padding */
overflow: hidden; /* Hide any overflow from the image */
transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s; /* Add smooth transitions */


}

.tab-buttons2 button img {
width: 100%; /* Make the image width 100% of the button width */
height: 100%; /* Allow the image height to adjust proportionally */


}
.tab-buttons2 button:hover {
  transform: scale(1.1); /* Scale the image slightly on hover */
 
  background-color : transparent;
}


.prev-btn,
.next-btn {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  transition: background 0.3s;
}

.prev-btn {
  left: 0;
}

.next-btn {
  right: 0;
}

.prev-btn {
  left: 20px;
}

.next-btn {
  right: 20px;
}

.prev-btn:hover,
.next-btn:hover {
  background: rgba(0, 0, 0, 0.7);
}
.overlay-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.scrollable-main {
  display: flex;
  flex: 1;
  overflow-y: auto; /* Allow vertical scrolling for main content */
}






.message {
  padding: 8px;
  border-radius: 8px;
  max-width: 70%; 
  word-wrap: break-word; /* Allow long words to break and wrap */
  overflow-wrap: break-word; /* Ensure words break at appropriate points */
}

.message.right {
  background-color: #e2f0cb;
  align-self: flex-end; /* Aligns messages on the right to the left */
} 

.message.left {
  background-color: #bde0fe;
  align-self: flex-start;
}

.text-inputd {
  display: flex;
  align-items: center; /* Center items horizontally */
  margin-top: 5px; /* Adjust the top margin */
}

.text-inputd input {
  padding: 10px;
  margin-right: 10px; /* Add space between input and button */
}


.text-inputd {
  display: flex;
  align-items: center;
  padding: 10px; /* Add padding to the text input container */
  background-color: #fff; /* Set background color */
  width: 970px;
  position: sticky;
  bottom: 0; /* Stick the text input to the bottom of the container */
  margin-top: auto; /* Align the text input at the bottom */
  margin-bottom: 20px;
  flex-shrink: 0;
}

.text-inputd input {
  flex: 1; /* Allow input to grow and fill available space */
  padding: 8px; /* Adjust input padding */
  margin-right: 10px; /* Add space between input and button */
  border: 1px solid #ccc; /* Add border */
  border-radius: 5px; /* Add border radius */
  height: 50px;
  width: 83px;
}

.text-inputd button {
  padding: 8px 15px; /* Adjust button padding */
  background-color: #4CAF50; /* Set button background color */
  color: #fff; /* Set button text color */
  border: none; /* Remove border */
  border-radius: 5px; /* Add border radius */
  cursor: pointer;
}

.text-inputd button:hover {
  background-color: #45a049; /* Darker shade of button color on hover */
}








.chat-box {
  position: absolute; /* Position chat box absolutely within content */
  top: 93px;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  overflow-y: auto; /* Enable vertical scrolling when content overflows */
  max-height: calc(100% - 202px); /* Limit chat box height to fill available space within content and leave room for padding */
  display: flex;
  flex-direction: column;
}

.chat {
/* Allow chat box to grow and fill remaining space */
  /* Enable vertical scrolling if content overflows */


 display: flex;
 
}

.user-profile-section {
  display: flex;
  background-color: #e2f0cb;
  
 width:100%;
 height:93px;
  margin-bottom: 10px;
}

.user-profile {
  display: flex;
  align-items: center;
  
  padding: 8px;
  border-radius: 8px;
  box-shadow: #ccc;
}

.profile-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 8px;
}

.profile-name {
  font-size: 16px;
  font-weight: bold;
}

.content1 {
  display: flex;
  flex-direction: column;
}






